/*universal selector */
*{
    color:red;
    font-size: 20px;
}
/* tag / element selector */
h1{
    color: green;
}
/* attribute selector */

a[title="google"]{
    color: blue;
    letter-spacing: 10px;
}
/* id selector */
#idOne{
    color: brown;
}
/* class selector */
.classOne{
   color:brown;
   Line-height: 30px;
   text-indent: 40px;
   text-transform: Lowercase;
   word-spacing: 10px;
}
/* descendent selector */
.desc a{
    color: red;
    text-descoration:
}
.child > a{
    color:green;
}
/* pesudo selector */
/*  : link */
a:link{
    color: red;
}
a:hover{
 color : green;   
}
a:active{
    color: yellow;
}
a:visited{
    color: brown;
}
/* target */
p:target{
    color: red;
    border: 2px solid black;
}
/* border */
.borderOne{
    border: 20px dashed yellow; 
}
.borderTwo{
    border-left: 10px solid red;
}
.borderSizeOne{
    border-style: solid;
    /* border width: 10px; */
    /* T R B L */
    /*  border-width: 10px 100px; */
    /* T&B / L&R */
    border-width: 1px 5px 10px 15px;
    /* T R B L */
}
.borderStyle{
    border-style: solid dashed double dotted;
    border-color: red green;
}
/* margin */
.margin{
    border: 1px solid black;
    /* margin: 100px; */
    margin-left: 200px;
}
/* padding */
.padding{
    border: 1px solid red;
    padding: 100px 10px 50px 28px;
}
/* inline */
.inline{
    border: 2px solid red;
    width: 300px;
    display: inline-block;
}
.block{
    border: 2px solid black;
    width: 300px;
    display: inline-block;
}